monolog:
    channels:
        - deprecation # Deprecations are logged in the dedicated "deprecation" channel when it exists

when@dev:
    monolog:
        handlers:
            main:
                type: fingers_crossed
                action_level: info
                handler: nested
                excluded_http_codes: [ 404, 405 ]
            nested:
                type: stream
                path: "%kernel.logs_dir%/%kernel.environment%.log"
                level: info

when@test:
    monolog:
        handlers:
            main:
                type: fingers_crossed
                action_level: info
                handler: nested
                excluded_http_codes: [404, 405]
            nested:
                type: stream
                path: "%kernel.logs_dir%/%kernel.environment%.log"
                level: info

when@prod:
    monolog:
        handlers:
            main:
                type: fingers_crossed
                action_level: info
                handler: nested
                excluded_http_codes: [404, 405]
                buffer_size: 50 # How many messages should be saved? Prevent memory leaks
            nested:
                type: stream
                path: php://stderr
                level: info
                formatter: monolog.formatter.json
            console:
                type: console
                process_psr_3_messages: false
            deprecation:
                type: stream
                channels: [deprecation]
                path: php://stderr
