services:

  nginx:
    image: jc21/nginx-proxy-manager:latest
    restart: unless-stopped
    ports:
      - "80:80"
      - "81:81"
      - "443:443"
    volumes:
      - nginxdata:/data
      - nginxletsencrypt:/etc/letsencrypt
    networks:
      - network
    depends_on:
      - app

  app:
    container_name: app
    build:
      context: .
      dockerfile: Dockerfile
      args:
        ENVIRONMENT: dev
        INSTALL_XDEBUG: "true"
    restart: unless-stopped
    volumes:
      - ./:/var/www
    ports:
      - "9501:9501"
    networks:
      - network
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - postgresql
      - rabbitmq
      - elasticsearch

  postgresql:
    container_name: postgresql
    image: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: demo
      POSTGRES_PASSWORD: password
    networks:
      - network
    volumes:
      - ./postgresql-init.sh:/docker-entrypoint-initdb.d/postgresql-init.sh
      - pgsqldata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  rabbitmq:
    container_name: rabbitmq
    image: rabbitmq:management
    ports:
      - "15672:15672"
    networks:
      - network
    volumes:
      - rabbitmqdata:/var/lib/rabbitmq

  elasticsearch:
    container_name: elasticsearch
    image: docker.elastic.co/elasticsearch/elasticsearch:8.6.2
    restart: unless-stopped
    environment:
      - xpack.security.enabled=false
      - discovery.type=single-node
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    cap_add:
      - IPC_LOCK
    volumes:
      - elasticsearchdata:/usr/share/elasticsearch/data
    ports:
      - "9200:9200"
      - "9300:9300"
    networks:
      - network

volumes:
  pgsqldata:
    driver: local
  rabbitmqdata:
    driver: local
  elasticsearchdata:
    driver: local
  nginxdata:
    driver: local
  nginxletsencrypt:
    driver: local

networks:
  network:
    driver: bridge
