name: "Tests"

on:
  workflow_call:
    inputs:
      image_name:
        required: true
        type: string

jobs:
  phpunit:
    name: PHPUnit
    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: ${{ inputs.image_name }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Start Environment
        env:
          IMAGE_NAME: ${{ inputs.image_name }}
        run: |
          docker compose -f docker-compose-tests.yaml up -d

      - name: Run PHPUnit
        run: |
          docker compose -f docker-compose-tests.yaml exec -T testing php vendor/bin/phpunit

      - name: Stop and Cleanup
        if: always()
        run: |
          docker compose -f docker-compose-tests.yaml down -v