name: CI/CD Pipeline

on:
  push:
    branches: [ master, develop ]

permissions:
  contents: read
  packages: write

jobs:
  build:
    name: Build and Push
    uses: ./.github/workflows/_docker.yml
    secrets: inherit

  test:
    needs: build
    name: Run Tests
    uses: ./.github/workflows/_phpunit.yml
    with:
      image_name: ghcr.io/${{ github.repository_owner }}/app:${{ needs.build.outputs.image_tag }}
    secrets: inherit