name: Testing

on:
  push:
    branches: [ master, develop ]
  pull_request:
    branches: [ master, develop ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    env:
      PHP_VERSION: 8.2
      COMPOSER_VERSION: latest
      ROOT: /var/www

    services:
      docker:
        image: docker:24.0.5-dind
        options: --privileged
        ports:
          - 2375:2375

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build \
            --build-arg ENVIRONMENT=testing \
            --build-arg CONTAINER_MODE=testing \
            --tag ghcr.io/${{ github.repository_owner }}/app:latest .

      - name: Run tests
        run: |
          docker run --rm ghcr.io/${{ github.repository_owner }}/app:latest php vendor/bin/phpunit