name: Testing

on:
  push:
    branches: [ master, develop ]
  pull_request:
    branches: [ master, develop ]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build and start containers
        run: |
          docker compose -f docker-compose-tests.yaml up -d --build

      - name: Run tests
        run: |
          docker compose -f docker-compose-tests.yaml exec -T testing php vendor/bin/phpunit

      - name: Stop containers
        if: always()
        run: |
          docker compose -f docker-compose-tests.yaml down -v
